@font-face {
    font-display: swap;
    font-family: "Roboto Mono";
    font-style: normal;
    src: url("../fonts/roboto-mono-v22-latin-regular.woff2") format("woff2");
}
body{
    font-family: "Roboto Mono";
}